@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue-bg-color: linear-gradient(to bottom, #141e30 40%, #243b55 80%);
  --blue-color: #243b55;
  --dark-color: #393434;
  --light-bg-color: linear-gradient(
      180deg,
      #f1f5f2 0%,
      rgba(241, 245, 242, 0) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  --light-color: #d9d9d9;
  --green-color: #d7fc81;

  --container-width: 1000px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--blue-bg-color);
}

.hide {
  display: none !important;
}

.container {
  width: var(--container-width);
  height: 800px;
  position: relative;
  box-shadow: 0 0 8px var(--dark-color);
  border-radius: 6px;
  background: var(--light-bg-color);
  overflow: hidden;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f5f2;
}

.panel.responnse {
  z-index: 999;
}

.panel .title {
  position: relative;
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 20px;
  color: var(--blue-color);
}

.panel .main {
  display: flex;
  width: 90%;
  flex-grow: 1;
  resize: none;
  position: relative;
}

.main textarea {
  width: 100%;
  padding: 15px;
  color: var(--blue-color);
  border: 5px solid var(--blue-color);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.main textarea:active,
.main textarea:focus {
  /* border-color: var(--green-color); */
}

.main.error textarea {
  border-color: red;
}

.main span.error {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  color: red;
}

.main.error span.error {
  display: block;
}

.panel .btn-group {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px 0;
}

.panel .close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green-color);
  color: var(--blue-color);
  text-transform: capitalize;
  text-align: center;
  width: 48%;
  height: 100%;
  padding: 10px;
  /* margin-top: 20px; */
  font-size: 17px;
  font-weight: 500;
  border-radius: 6px;
  outline: none;
  border: none;
  box-shadow: 0 0 8px var(--light-color);
  cursor: pointer;
}

.btn-group .btn-f {
  width: 100%;
}

.btn-group .btn:active {
  transform: scale(0.95);
}

.btn-group .btn:hover {
  opacity: 0.8;
}

.responnse .main {
  display: flex;
  flex-direction: column;
}

.mapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section.double {
  width: 50%;
}

.section .list-title {
  font-size: 20px;
  font-weight: 500;
}

.section span {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-color);
}

.section .row {
  padding-left: 20px;
}

.section.single div {
  min-width: 50%;
}

.section.double div {
  min-width: 60%;
}

/* loader */
.loader {
  color: var(--blue-color);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}