<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECHNICAL TOOLS</title>
    <link rel="stylesheet" href="newDashboard.css" />
  </head>
    <body>
      <input class="nav-input" type="checkbox" id="one" data-id="1" />
      <input class="nav-input" type="checkbox" id="two" data-id="2" />
      <input class="nav-input" type="checkbox" id="three" data-id="3" />
      <input class="nav-input" type="checkbox" id="four" data-id="4" />
      <input class="nav-input" type="checkbox" id="five" data-id="5" />
      <div class="container">
        <h1 class="title">Technical Tools</h1>
        <div class="indicator">
          <div class="step step1">
            <div>1</div>
            <span>Structure</span>
          </div>
          <div class="line line1"></div>
          <div class="step step2">
            <div>2</div>
            <span>Main fields</span>
          </div>
          <div class="line line2"></div>
          <div class="step step3">
            <div>3</div>
            <span>Conditions</span>
          </div>
          <div class="line line3"></div>
          <div class="step step4">
            <div>4</div>
            <span>Details</span>
          </div>
          <div class="line line4"></div>
          <div class="step step5">
            <div>5</div>
            <span>Price and links</span>
          </div>
          <div class="line line5"></div>
          <div class="step step6">
            <div>6</div>
            <span>Other fields</span>
          </div>
        </div>

        <div class="panel">
          <div class="page1">
            <form action="#" class="form">
              <h2>Structure</h2>
              <div class="form-group">
                <select name="" id="structure-select">
                  <option name="other" value="other">other</option>
                </select>
                <!-- <input type="text" required /> -->
                <label for="">Structure</label>
              </div>
              <div class="form-group hide">
                <input id="structure-input" type="text" required />
                <label for="">Type structure</label>
                <div class="tooltip">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text">Główna ścieżka do produktu</span>
                </div>
              </div>
              <div class="form-group">
                <input id="matchLine" type="text" required />
                <label for="">Additional path to product</label>
                <div class="tooltip">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text"
                    >Alternatywne ścieżki do produktów, oddzielone
                    przecinkiem</span
                  >
                </div>
              </div>
              <div class="form-group">
                <input id="cutLine" type="text" required />
                <label for="">Fields to cut</label>
                <div class="tooltip">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text"
                    >Pola które mają być pominiete przez transformatę,
                    oddzielone przecinkiem
                  </span>
                </div>
              </div>
              <div class="btn-group">
                <label for="" class="btn btn-f nav-btn" data-checkbox="1" id="0"
                  >Next</label
                >
              </div>
            </form>
          </div>

          <div class="page2">
            <form action="#" class="form">
              <h2>Main fields</h2>
              <div class="form-group">
                <input id="id" type="text" required />
                <label for="">Extenal ID</label>
                <div class="tooltip">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text"
                    >Obowiązkowe pole które bedzie mapowane jako id
                    produktu</span
                  >
                </div>
              </div>
              <div class="form-group">
                <input id="name" type="text" required />
                <label for="">Name</label>
              </div>
              <div class="form-group">
                <input id="brand" type="text" required />
                <label for="">Brand</label>
              </div>
              <div class="form-group">
                <input id="description" type="text" required />
                <label for="">Description</label>
              </div>
              <div class="form-group">
                <input id="categoryMain" type="text" required />
                <label for="">Main categories</label>
              </div>
              <div class="form-group">
                <input id="categories" type="text" required />
                <label for="">Categories</label>
              </div>
              <div class="btn-group">
                <label for="" class="btn nav-btn" data-checkbox="1" id="1"
                  >Previous</label
                >
                <label for="" class="btn nav-btn" data-checkbox="2" id="2"
                  >Next</label
                >
              </div>
            </form>
          </div>

          <div class="page3">
            <form action="#" class="form">
              <h2>
                Conditions
                <div class="tooltip inline-block">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text"
                    >Warunki przyjmują wartosć true/false, jako value nalezy
                    podać kiedy warunek ma być zmapowany jako prawda</span
                  >
                </div>
              </h2>

              <div class="form-group-twice">
                <div class="form-group">
                  <input id="newProductKey" type="text" required />
                  <label for="">New product</label>
                </div>
                <div class="form-group">
                  <input id="newProductValue" type="text" required />
                  <label for="">Value</label>
                </div>
              </div>
              <div class="form-group-twice">
                <div class="form-group">
                  <input id="availableKey" type="text" required />
                  <label for="">Availability</label>
                </div>
                <div class="form-group">
                  <input id="availableValue" type="text" required />
                  <label for="">Value</label>
                </div>
              </div>
              <div class="form-group-twice">
                <div class="form-group">
                  <input id="bestsellerKey" type="text" required />
                  <label for="">Bestseller</label>
                </div>
                <div class="form-group">
                  <input id="bestsellerValue" type="text" required />
                  <label for="">Value</label>
                </div>
              </div>
              <div class="form-group-twice">
                <div class="form-group">
                  <input id="genderKey" type="text" required />
                  <label for="">Gender</label>
                </div>
                <div class="form-group">
                  <input id="genderValue" type="text" required />
                  <label for="">Value</label>
                  <div class="tooltip">
                    <span class="tooltip-icon">&#9432;</span>
                    <span class="tooltip-text"
                      >Płeć nalezy zmapować jako 1-male, 0-female. Jeśli w XML
                      jest większa ilośc płci potrzeba customowego
                      rozwiązania</span
                    >
                  </div>
                </div>
              </div>
              <div class="btn-group">
                <label for="" class="btn nav-btn" data-checkbox="2" id="3"
                  >Previous</label
                >
                <label for="" class="btn nav-btn" data-checkbox="3" id="4"
                  >Next</label
                >
              </div>
            </form>
          </div>

          <div class="page4">
            <form action="#" class="form">
              <h2>Details</h2>
              <div class="form-group">
                <input id="detail1" type="text" required />
                <label for="">Detail 1</label>
              </div>
              <div class="form-group">
                <input id="detail2" type="text" required />
                <label for="">Detail 2</label>
              </div>
              <div class="form-group">
                <input id="detail3" type="text" required />
                <label for="">Detail 3</label>
              </div>
              <div class="form-group">
                <input id="detail4" type="text" required />
                <label for="">Detail 4</label>
              </div>
              <div class="form-group">
                <input id="detail5" type="text" required />
                <label for="">Detail 5</label>
              </div>
              <div class="btn-group">
                <label for="" class="btn nav-btn" data-checkbox="3" id="5"
                  >Previous</label
                >
                <label for="" class="btn nav-btn" data-checkbox="4" id="6"
                  >Next</label
                >
              </div>
            </form>
          </div>

          <div class="page5">
            <form action="#" class="form">
              <h2>Price and links</h2>
              <div class="form-group">
                <input id="price" type="text" required />
                <label for="">Price</label>
              </div>
              <div class="form-group">
                <input id="pricePromo" type="text" required />
                <label for="">Sale price</label>
              </div>
              <div class="form-group">
                <input id="currency" type="text" required />
                <label for="">Currency</label>
                <div class="tooltip">
                  <span class="tooltip-icon">&#9432;</span>
                  <span class="tooltip-text"
                    >Należy podać walutę która jest umieszczona przy cenie w
                    feedzie</span
                  >
                </div>
              </div>
              <div class="form-group">
                <input id="urlProduct" type="text" required />
                <label for="">Product url</label>
              </div>
              <div class="form-group">
                <input id="urlImg" type="text" required />
                <label for="">Image url</label>
              </div>
              <div class="btn-group">
                <label for="" class="btn nav-btn" data-checkbox="4" id="7"
                  >Previous</label
                >
                <label for="" class="btn nav-btn" data-checkbox="5" id="8"
                  >Next</label
                >
              </div>
            </form>
          </div>

          <div class="page6">
            <form action="#" class="form">
              <h2>Additional Details</h2>
              <div class="form-group">
                <input id="manufacturer" type="text" required />
                <label for="">Manufacturer</label>
              </div>
              <div class="form-group">
                <input id="quantity" type="text" required />
                <label for="">Quantity</label>
              </div>
              <div class="form-group">
                <input id="popularity" type="text" required />
                <label for="">Popularity</label>
              </div>
              <div class="form-group">
                <input id="season" type="text" required />
                <label for="">Season</label>
              </div>
              <div class="form-group">
                <input id="color" type="text" required />
                <label for="">Color</label>
              </div>
              <div class="btn-group">
                <label for="" class="btn nav-btn" data-checkbox="5" id="9"
                  >Previous</label
                >
                <label class="btn submit-btn" data-checkbox="-1" id="10">
                  Submit
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    <script src="Toast.js"></script>
    <script src="newDashboard.js"></script>
  </body>
</html>
